{% extends 'Layouts/base.html' %}

{% block content %}
    
    {% load static %}
    
    <main class="container-fluid mt-5">
        <h1 class="text-center">Pokemons</h1>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <script>
                        Swal.fire({
                            icon: '{{message.tags}}',
                            title: '{{message}}',
                            
                        })
                    </script>
                {% endfor %}
            </ul>
        {% endif %}
        
        

        <section class="row mt-4 mb-5">
            <div class="accordion accordion-flush" data-bs-theme="dark" id="accordionExample">
                <div class="accordion-item ">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Filtros
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                            <form action="" class="row">
                                <div class="col-6 ">
                                    <label for="" class="form-label">Tipo:</label>
                                    <select class="form-select" id="selCategories" multiple aria-label="Default select example">
                                        
                                        {% for category in categories %}
                                            <option value="{{category.id}}">{{category.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="" class="form-label">Color: </label>
                                    <select name="" id="selColors" class="form-select">
                                        <option value="">-----Seleccioan color-----</option>
                                        {% for colorId,colorName in colors %}
                                            <option value="{{colorId}}">{{colorName}}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <table class="table table-dark  table-hover" id="tabPokemonList">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Altura</th>
                    <th scope="col">Color</th>
                    <th scope="col">Fecha de captura</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- {% for pokemon in pokemons %}
                    
                    <tr>
                        <td>{{pokemon.name}}</td>
                        <td>
                            {% for category in pokemon.category.all %}
                                {{category}}
                            {% endfor %}
                        </td>
                        <td>{{pokemon.weight}}</td>
                        <td>{{pokemon.height}}</td>
                        <td>{{pokemon.get_color_display}}</td>
                        <td>{{pokemon.dateCapture}}</td>
                        <td>
                            <a  href="{% url 'pokemonDetail' pokemon.id%}" class="btn btn-outline-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </a>

                        </td>
                    </tr>

                {% endfor %} -->
                
            </tbody>
        </table>

        
    </main>
    
    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    title: "{{message}}",
                    text: "",
                    icon: "{{message.tags}}",
                    confirmButtonText: "OK"
                })
            </script>
             
        {% endfor %}
    {% endif %}
    
{% endblock %}

{% block js %}
    <script src="{% static 'JS/pokemonList.js' %}"></script>

{% endblock %}